In [4]:
import pandas as pd
df = pd.read_csv('../data/서울특별시 광진구_연령별인구현황_20221231.csv',encoding='euc-kr')
df.head(3)

,연령,광진구,중곡제1동,중곡제2동,중곡제3동,중곡제4동,능동,구의제1동,구의제2동,구의제3동,광장동,자양제1동,자양제2동,자양제3동,자양제4동,화양동,군자동,데이터기준일자
0,0세,1198,56,67,61,83,53,83,76,148,89,66,122,143,58,35,58,2022-12-31
1,1세,1334,67,68,70,112,46,87,127,147,113,54,110,187,57,27,62,2022-12-31
2,2세,1270,57,60,65,106,53,70,110,137,142,57,110,163,56,26,58,2022-12-31