# Pandas

파이썬에서 사용하는 데이터 분석 라이브러리이다.

In [1]:
import pandas as pd

# 1. Series

1차원 데이터이다. (정수, 실수, 문자열 등)

## Series 객체 생성
ex) 1월부터 4월까지 평균 온도 데이터. 
    1월: -20, 2월 -10, 3월 10, 4월 20도.

In [7]:
temp = pd.Series([-20,-10,10,20]);
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
temp[0] # 1월 온도

-20

In [8]:
temp[2] # 3월 온도

10

## Series 객체 생성 (index 지정)

In [10]:
temp = pd.Series([-20,-10,10,20],index=['Jan','Feb','Mar','Apr']);
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [11]:
temp['Jan'] # 1월 온도 >> 인덱스 이름으로 접근 가능

-20

In [13]:
# temp["Jun"] #[x] 존재하지 않는 index 이름으로 접근 시 KeyError 발생