In [1]:
#importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from sklearn.datasets import load_iris
iris = load_iris()

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
features = iris.data
label = iris.target
X_train,X_test,y_train,y_test = train_test_split(features,label,test_size=0.2,random_state=156)
dt_clf = DecisionTreeClassifier(random_state=156)

## Confusion Matrix of Multi Class Classification

In [8]:
dt_clf.fit(X_train,y_train)
pred = dt_clf.predict(X_test)

In [24]:
# Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.9666666666666667

In [14]:
from sklearn.metrics import confusion_matrix,classification_report
cm = confusion_matrix(y_test,pred)
cm

array([[ 9,  0,  0],
       [ 0,  8,  1],
       [ 0,  0, 12]], dtype=int64)

In [18]:
cm_df = pd.DataFrame(cm,index=iris.target_names,columns=iris.target_names)
cm_df

            setosa  versicolor  virginica
setosa           9           0          0
versicolor       0           8          1
virginica        0           0         12

In [23]:
clf_report = classification_report(y_test,pred,labels=list(set(iris.target)),target_names=iris.target_names,output_dict=True)
pd.DataFrame(clf_report)

           setosa  versicolor  virginica  accuracy  macro avg  weighted avg
precision     1.0    1.000000   0.923077  0.966667   0.974359      0.969231
recall        1.0    0.888889   1.000000  0.966667   0.962963      0.966667
f1-score      1.0    0.941176   0.960000  0.966667   0.967059      0.966353
support       9.0    9.000000  12.000000  0.966667  30.000000     30.000000

In [ ]:
test_df = pd.DataFrame(dt)