In [1]:
import pandas as pd

In [2]:
reviews=pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv",index_col=0)
pd.set_option('display.max_rows',5)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [5]:
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

### df.iloc[numerical_position]

In [6]:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [8]:
reviews.iloc[:,0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [10]:
reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

### df.loc[index_value]

In [11]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#'],
}
df = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])

In [12]:
df

     이름   학교    키   국어  영어   수학  과학  사회    SW특기
1번  채치수  북산고  197   90  85  100  95  85  Python
2번  정대만  북산고  184   40  35   50  55  25    Java
..  ...  ...  ...  ...  ..  ...  ..  ..     ...
7번  황태산  능남고  188   55  65   45  40  35  PYTHON
8번  윤대협  능남고  190  100  85   90  95  95      C#

[8 rows x 9 columns]

In [13]:
df.loc['8번','이름']

'윤대협'

In [17]:
# df.loc[7,'이름'] [x]

In [19]:
df.loc['1번':'5번','이름']

1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
Name: 이름, dtype: object

In [23]:
df.set_index('이름')

      학교    키   국어  영어   수학  과학  사회    SW특기
이름
채치수  북산고  197   90  85  100  95  85  Python
정대만  북산고  184   40  35   50  55  25    Java
..   ...  ...  ...  ..  ...  ..  ..     ...
황태산  능남고  188   55  65   45  40  35  PYTHON
윤대협  능남고  190  100  85   90  95  95      C#

[8 rows x 8 columns]

In [30]:
df.loc[:,'이름']

1번    채치수
2번    정대만
     ...
7번    황태산
8번    윤대협
Name: 이름, Length: 8, dtype: object

In [31]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [32]:
reviews.loc[reviews.country =='Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [34]:
df

     이름   학교    키   국어  영어   수학  과학  사회    SW특기
1번  채치수  북산고  197   90  85  100  95  85  Python
2번  정대만  북산고  184   40  35   50  55  25    Java
..  ...  ...  ...  ...  ..  ...  ..  ..     ...
7번  황태산  능남고  188   55  65   45  40  35  PYTHON
8번  윤대협  능남고  190  100  85   90  95  95      C#

[8 rows x 9 columns]

In [37]:
df.이름='홍길동'
df

     이름   학교    키   국어  영어   수학  과학  사회    SW특기
1번  홍길동  북산고  197   90  85  100  95  85  Python
2번  홍길동  북산고  184   40  35   50  55  25    Java
..  ...  ...  ...  ...  ..  ...  ..  ..     ...
7번  홍길동  능남고  188   55  65   45  40  35  PYTHON
8번  홍길동  능남고  190  100  85   90  95  95      C#

[8 rows x 9 columns]

In [40]:
df['안녕']=''
df

     이름   학교    키   국어  영어   수학  과학  사회    SW특기 안녕
1번  홍길동  북산고  197   90  85  100  95  85  Python
2번  홍길동  북산고  184   40  35   50  55  25    Java
..  ...  ...  ...  ...  ..  ...  ..  ..     ... ..
7번  홍길동  능남고  188   55  65   45  40  35  PYTHON
8번  홍길동  능남고  190  100  85   90  95  95      C#

[8 rows x 10 columns]

In [41]:
reviews.loc[0:4,'description']

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

### Maps

In [5]:
review_points_mean = reviews.points.mean()
review_points_mean

88.44713820775404

In [9]:
reviews.points.map(lambda p : p-review_points_mean)
reviews.points

0         87
1         87
          ..
129969    90
129970    90
Name: points, Length: 129971, dtype: int64

In [14]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis=1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit