In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('../input/wine-reviews/winemag-data-130k-v2.csv',index_col=0)

In [3]:
reviews.head(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [5]:
reviews.groupby('points')

In [15]:
reviews.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [ ]:
reviews.groupby('winery').apply(lambda df: df.title)

In [19]:
reviews.loc[reviews.winery=='Nicosia','title']

0                         Nicosia 2013 Vulkà Bianco  (Etna)
9959                             Nicosia 2011 Rosso  (Etna)
12551              Nicosia 2013 Fondo Filara Bianco  (Etna)
31875     Nicosia 2009 Fondo Filara  (Cerasuolo di Vitto...
31876                     Nicosia 2009 Fondo Filara  (Etna)
52316        Nicosia 2010 Fondo Filara Catarratto (Sicilia)
52317                     Nicosia 2010 Fondo Filara  (Etna)
60979                            Nicosia 2011 Rosso  (Etna)
104568    Nicosia 2011 Fondo Filara  (Cerasuolo di Vitto...
109882     Nicosia 2010 Fondo Filara Nero d'Avola (Sicilia)
122725                     Nicosia 2012 Vulkà Rosso  (Etna)
Name: title, dtype: object

In [20]:
reviews.points.agg([len,min,max])

len    129971
min        80
max       100
Name: points, dtype: int64

In [21]:
reviews.loc[reviews.country=='Armenia']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
8170,Armenia,"Medium straw in the glass, this wine has a nos...",Estate Bottled,87,14.0,Armenia,NaN,NaN,Mike DeSimone,@worldwineguys,Van Ardi 2015 Estate Bottled Kangoun (Armenia),Kangoun,Van Ardi
66146,Armenia,"Deep salmon in color, this wine offers a bouqu...",Estate Bottled,88,15.0,Armenia,NaN,NaN,Mike DeSimone,@worldwineguys,Van Ardi 2015 Estate Bottled Rosé (Armenia),Rosé,Van Ardi

In [22]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [23]:
type(countries_reviewed)

pandas.core.frame.DataFrame

In [25]:
reviews_written = reviews.groupby('taster_twitter_handle').description.agg(len)
reviews_written

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: description, dtype: int64

In [37]:
best_rating_per_price = reviews.loc[reviews.groupby('price').points.idxmax(),'price'].sort_values()
best_rating_per_price

64590        4.0
24592        5.0
44054        6.0
34629        7.0
26101        8.0
           ...
1558      1900.0
65352     2000.0
120391    2013.0
15840     2500.0
80290     3300.0
Name: price, Length: 390, dtype: float64

In [38]:
reviews.groupby('price').points.max().sort_index()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [40]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [45]:
reviews.groupby('variety').price.agg([max]).sort_values(by='max',ascending=False)

                                   max
variety
Bordeaux-style Red Blend        3300.0
Pinot Noir                      2500.0
Chardonnay                      2013.0
Grüner Veltliner                1100.0
Bordeaux-style White Blend      1000.0
...                                ...
Roscetto                           NaN
Sauvignon Blanc-Sauvignon Gris     NaN
Tempranillo-Malbec                 NaN
Vital                              NaN
Zelen                              NaN

[707 rows x 1 columns]

In [58]:
rmean = reviews.groupby('taster_name').points.agg(['mean'])
rmean.loc[:,'mean']

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: mean, dtype: float64

In [62]:
reviews.groupby(['country','variety']).points.count().sort_values(ascending=False)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Name: points, Length: 1612, dtype: int64