In [17]:
import pandas as pd
import numpy as np
import math

In [2]:
hb_file_path = "./data/gwangjingu_hostess_bar.csv"
eb_file_path = "./data/gwangjingu_entertainment_bar.csv"

In [27]:
hb = pd.read_csv(hb_file_path,encoding="CP949")
print(hb.head(3))
print(hb.info)

   개방자치단체코드                    관리번호     인허가일자  인허가취소일자  영업상태코드  영업상태명  \
0   3040000  3040000-103-1993-06863  19931030      NaN       1  영업/정상
1   3040000  3040000-103-1993-06865  19931122      NaN       3     폐업
2   3040000  3040000-103-1993-06871  19931026      NaN       3     폐업

   상세영업상태코드 상세영업상태명        폐업일자  휴업시작일자  ...  공장판매직종업원수  공장생산직종업원수 건물소유구분명  \
0         1      영업         NaN     NaN  ...        NaN        NaN     NaN
1         2      폐업  20001226.0     NaN  ...        NaN        NaN     NaN
2         2      폐업  19950403.0     NaN  ...        NaN        NaN     NaN

   보증액 월세액 다중이용업소여부   시설총규모  전통업소지정번호 전통업소주된음식 홈페이지
0  NaN NaN        Y   97.94       NaN      NaN  NaN
1  NaN NaN        N  113.82       NaN      NaN  NaN
2  NaN NaN        N   68.88       NaN      NaN  NaN

[3 rows x 44 columns]
<bound method DataFrame.info of      개방자치단체코드                    관리번호     인허가일자  인허가취소일자  영업상태코드  영업상태명  \
0     3040000  3040000-103-1993-06863  19931030      NaN       1  영업/정상
1     3040000  3040000-103-1993-06865  19931122      NaN       3     폐업
2     3040000  3040000-103-1993-06871  19931026      NaN       3     폐업
3     3040000  3040000-103-1993-06877  19931227      NaN       3     폐업
4     3040000  3040000-103-1993-06886  19931110      NaN       3     폐업
..        ...                     ...       ...      ...     ...    ...
331   3040000  3040000-103-1998-07218  19981103      NaN       1  영업/정상
332   3040000  3040000-103-1998-08630  19980216      NaN       3     폐업
333   3040000  3040000-103-1998-08631  19980630      NaN       3     폐업
334   3040000  3040000-103-2005-00001  20050929      NaN       3     폐업
335   3040000  3040000-103-2012-00001  20120509      NaN       3     폐업

     상세영업상태코드 상세영업상태명        폐업일자  휴업시작일자  ...  공장판매직종업원수  공장생산직종업원수 건물소유구분명  \
0           1      영업         NaN     NaN  ...        NaN        NaN     NaN
1           2      폐업  20001226.0     NaN  ...        NaN        NaN     NaN
2           2      폐업  19950403.0     NaN  ...        NaN        NaN     NaN
3           2      폐업  19960708.0     NaN  ...        NaN        NaN     NaN
4           2      폐업  19941102.0     NaN  ...        NaN        NaN     NaN
..        ...     ...         ...     ...  ...        ...        ...     ...
331         1      영업         NaN     NaN  ...        NaN        NaN     NaN
332         2      폐업  20101229.0     NaN  ...        NaN        NaN     NaN
333         2      폐업  20050321.0     NaN  ...        NaN        NaN     NaN
334         2      폐업  20201013.0     NaN  ...        NaN        NaN     NaN
335         2      폐업  20190522.0     NaN  ...        NaN        NaN     NaN

     보증액 월세액 다중이용업소여부   시설총규모  전통업소지정번호 전통업소주된음식 홈페이지
0    NaN NaN        Y   97.94       NaN      NaN  NaN
1    NaN NaN        N  113.82       NaN      NaN  NaN
2    NaN NaN        N   68.88       NaN      NaN  NaN
3    NaN NaN        N  102.06       NaN      NaN  NaN
4    NaN NaN        N  104.14       NaN      NaN  NaN
..   ...  ..      ...     ...       ...      ...  ...
331  NaN NaN        Y  129.87       NaN      NaN  NaN
332  NaN NaN        N   78.82       NaN      NaN  NaN
333  NaN NaN        N    0.00       NaN      NaN  NaN
334  NaN NaN        Y  679.67       NaN      NaN  NaN
335  NaN NaN        Y  273.25       NaN      NaN  NaN

[336 rows x 44 columns]>

In [32]:
eb = pd.read_csv(eb_file_path,encoding="CP949")

In [22]:
len(hb.loc[hb["관리번호"]=='3040000-103-1993-06928',["좌표정보(X)","좌표정보(Y)"]]["좌표정보(X)"])
# 좌표정보가 없는 없체들은 NaN.

1

In [29]:
hb_filter_no_location = hb["좌표정보(X)"].notna() & hb["좌표정보(Y)"].notna()
eb_filter_no_location = eb["좌표정보(X)"].notna() & eb["좌표정보(Y)"].notna()

In [33]:
hb_filtered1 = hb[hb_filter_no_location]
eb_filtered1 = eb[eb_filter_no_location]
hb_filtered.info

<bound method DataFrame.info of      개방자치단체코드                    관리번호     인허가일자  인허가취소일자  영업상태코드  영업상태명  \
0     3040000  3040000-103-1993-06863  19931030      NaN       1  영업/정상
1     3040000  3040000-103-1993-06865  19931122      NaN       3     폐업
2     3040000  3040000-103-1993-06871  19931026      NaN       3     폐업
3     3040000  3040000-103-1993-06877  19931227      NaN       3     폐업
4     3040000  3040000-103-1993-06886  19931110      NaN       3     폐업
..        ...                     ...       ...      ...     ...    ...
331   3040000  3040000-103-1998-07218  19981103      NaN       1  영업/정상
332   3040000  3040000-103-1998-08630  19980216      NaN       3     폐업
333   3040000  3040000-103-1998-08631  19980630      NaN       3     폐업
334   3040000  3040000-103-2005-00001  20050929      NaN       3     폐업
335   3040000  3040000-103-2012-00001  20120509      NaN       3     폐업

     상세영업상태코드 상세영업상태명        폐업일자  휴업시작일자  ...  공장판매직종업원수  공장생산직종업원수 건물소유구분명  \
0           1      영업         NaN     NaN  ...        NaN        NaN     NaN
1           2      폐업  20001226.0     NaN  ...        NaN        NaN     NaN
2           2      폐업  19950403.0     NaN  ...        NaN        NaN     NaN
3           2      폐업  19960708.0     NaN  ...        NaN        NaN     NaN
4           2      폐업  19941102.0     NaN  ...        NaN        NaN     NaN
..        ...     ...         ...     ...  ...        ...        ...     ...
331         1      영업         NaN     NaN  ...        NaN        NaN     NaN
332         2      폐업  20101229.0     NaN  ...        NaN        NaN     NaN
333         2      폐업  20050321.0     NaN  ...        NaN        NaN     NaN
334         2      폐업  20201013.0     NaN  ...        NaN        NaN     NaN
335         2      폐업  20190522.0     NaN  ...        NaN        NaN     NaN

     보증액 월세액 다중이용업소여부   시설총규모  전통업소지정번호 전통업소주된음식 홈페이지
0    NaN NaN        Y   97.94       NaN      NaN  NaN
1    NaN NaN        N  113.82       NaN      NaN  NaN
2    NaN NaN        N   68.88       NaN      NaN  NaN
3    NaN NaN        N  102.06       NaN      NaN  NaN
4    NaN NaN        N  104.14       NaN      NaN  NaN
..   ...  ..      ...     ...       ...      ...  ...
331  NaN NaN        Y  129.87       NaN      NaN  NaN
332  NaN NaN        N   78.82       NaN      NaN  NaN
333  NaN NaN        N    0.00       NaN      NaN  NaN
334  NaN NaN        Y  679.67       NaN      NaN  NaN
335  NaN NaN        Y  273.25       NaN      NaN  NaN

[323 rows x 44 columns]>

### hb_filtered1이랑 eb_filtered1은 x,y 좌표정보가 없는 row는 삭제된 상태

### 인허가일자, 폐업일자 컬럼의 날짜에 -가 포함되어 있으면 대쉬 삭제

In [34]:
def remove_dash(df):
    df["인허가일자"] = df["인허가일자"].str.replace("-","")
    df["폐업일자"] = df['폐업일자'].str.replace("-","")
    return df

In [39]:
hb_filtered1.loc[:,"인허가일자"] = hb_filtered1["인허가일자"].str.replace("-","")