# 9. ë°ì´í„° ì„ íƒ (ì¡°ê±´ì— ë”°ë¼)

In [1]:
import pandas as pd
df = pd.read_csv('score.csv',index_col='ì§€ì›ë²ˆí˜¸')
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

## dfê°ì²´[ì¡°ê±´ì‹]

In [3]:
df['í‚¤'] >= 185 # í•™ìƒë“¤ì˜ í‚¤ê°€ 185ì´ìƒì¸ì§€ ì—¬ë¶€ë¥¼ ë°˜í™˜í•¨.

ì§€ì›ë²ˆí˜¸
1ë²ˆ     True
2ë²ˆ    False
3ë²ˆ    False
4ë²ˆ     True
5ë²ˆ     True
6ë²ˆ     True
7ë²ˆ     True
8ë²ˆ     True
Name: í‚¤, dtype: bool

In [4]:
filter_ = (df['í‚¤'] >= 185)
df[filter_]

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85  Python
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95      C#

In [5]:
df[~filter_] # ì¡°ê±´ì‹ì— Notì„ ë¶™ì„. ~ = not ì—°ì‚°ì

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35  50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript

In [6]:
df[df['í‚¤'] >= 185] # ì¡°ê±´ì‹ì„ ë°”ë¡œ ì „ë‹¬í•´ë„ ëœë‹¤.

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85  Python
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95      C#

## loc, ilocì— ì¡°ê±´ì‹ í™œìš©

row selectì— ì¡°ê±´ì‹ì„ ì „ë‹¬í•˜ë©´, 1ì°¨ì ìœ¼ë¡œ í–‰ì„ í•„í„°ë§í•˜ê³  ê·¸ë‹¤ìŒì— í•„ìš”í•œ ì—´ ë°ì´í„°ë§Œ ì¶”ì¶œí•  ìˆ˜ ìˆë‹¤.

In [11]:
df.loc[filter_,'ìˆ˜í•™'] # í‚¤ê°€ 185ì´ìƒì¸ í•™ìƒë“¤ì˜ ìˆ˜í•™ ë°ì´í„°

ì§€ì›ë²ˆí˜¸
1ë²ˆ    100
4ë²ˆ     70
5ë²ˆ     10
6ë²ˆ     95
7ë²ˆ     45
8ë²ˆ     90
Name: ìˆ˜í•™, dtype: int64

## ë‹¤ì–‘í•œ ì¡°ê±´

### & ì—°ì‚°ì = ê·¸ë¦¬ê³ , and

In [14]:
filt_and = (df['í‚¤']>=185) & (df['í•™êµ']=='ë¶ì‚°ê³ ')
df.loc[filt_and] # í‚¤ê°€ 185ì´ìƒ'ì´ê³ ' í•™êµê°€ ë¶ì‚°ê³ ì¸ í•™ìƒ ë°ì´í„°

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85  Python
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15  20   10  35  10     NaN

### | ì—°ì‚°ì = ë˜ëŠ” = or

In [19]:
filt_or = (df['í‚¤']<170) | (df['í‚¤']>200)
df.loc[filt_or]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80   75  70  80  75  Javascript
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  80  100  95  85  80           C

### str í•¨ìˆ˜ í™œìš©

In [20]:
filt_str = df['ì´ë¦„'].str.startswith('ì†¡') # ì†¡ ì”¨ ì„±ì„ ê°€ì§„ ì‚¬ëŒ
df[filt_str]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript

In [22]:
filt_str2 = df['ì´ë¦„'].str.contains('íƒœ')
df[filt_str2]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60  70  75  80         NaN
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  55  65  45  40  35      PYTHON

In [24]:
df[~filt_str2] # ì´ë¦„ì— 'íƒœ'ê°€ ë“¤ì–´ê°€ì§€ ì•ŠëŠ” ì‚¬ëŒì„ ì¶”ì¶œ

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85  Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25    Java
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80       C
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95      C#

### isin(ë°°ì—´) í•¨ìˆ˜ : ë°°ì—´ì— í¬í•¨ë˜ì–´ ìˆëŠ”ì§€ íŒë‹¨.

In [26]:
langs = ["Python","Java"]
filt_list = df['SWíŠ¹ê¸°'].isin(langs)
df[filt_list]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85  Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25    Java

In [30]:
langs_ = ['python','java']
filt_list_ = df['SWíŠ¹ê¸°'].str.lower().isin(langs_)
df[filt_list_]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85  Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25    Java
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  55  65   45  40  35  PYTHON

In [35]:
filt_str_ = df['SWíŠ¹ê¸°'].str.lower().str.startswith('java',na=False)
# ğŸ””NA, NaN ë°ì´í„°ì— ëŒ€í•´ì„œëŠ” ëª¨ë‘ Falseë¡œ ì„¤ì •í•˜ëŠ” ì¸ì.
df[filt_str_]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35  50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript