# 6. ë°ì´í„° ì„ íƒ(ê¸°ë³¸)

In [1]:
import pandas as pd
df = pd.read_csv('score.csv',index_col='ì§€ì›ë²ˆí˜¸')
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

## Column ì„ íƒ (label)

In [2]:
df['ì´ë¦„']

ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜
2ë²ˆ    ì •ëŒ€ë§Œ
3ë²ˆ    ì†¡íƒœì„­
4ë²ˆ    ì„œíƒœì›…
5ë²ˆ    ê°•ë°±í˜¸
6ë²ˆ    ë³€ë•ê·œ
7ë²ˆ    í™©íƒœì‚°
8ë²ˆ    ìœ¤ëŒ€í˜‘
Name: ì´ë¦„, dtype: object

In [3]:
df[['ì´ë¦„','í‚¤']]

       ì´ë¦„    í‚¤
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  197
2ë²ˆ    ì •ëŒ€ë§Œ  184
3ë²ˆ    ì†¡íƒœì„­  168
4ë²ˆ    ì„œíƒœì›…  187
5ë²ˆ    ê°•ë°±í˜¸  188
6ë²ˆ    ë³€ë•ê·œ  202
7ë²ˆ    í™©íƒœì‚°  188
8ë²ˆ    ìœ¤ëŒ€í˜‘  190

## Column ì„ íƒ (ì •ìˆ˜ ìœ„ì¹˜ indexê°’)

In [6]:
df.columns

Index(['ì´ë¦„', 'í•™êµ', 'í‚¤', 'êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì‚¬íšŒ', 'SWíŠ¹ê¸°'], dtype='object')

In [7]:
df.columns[0]

'ì´ë¦„'

In [9]:
df[df.columns[0]] # df['ì´ë¦„']ê³¼ ë™ì¼ >> ğŸ””ì¡°íšŒ ì†ë„ê°€ ë” ë¹ ë¦„

ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜
2ë²ˆ    ì •ëŒ€ë§Œ
3ë²ˆ    ì†¡íƒœì„­
4ë²ˆ    ì„œíƒœì›…
5ë²ˆ    ê°•ë°±í˜¸
6ë²ˆ    ë³€ë•ê·œ
7ë²ˆ    í™©íƒœì‚°
8ë²ˆ    ìœ¤ëŒ€í˜‘
Name: ì´ë¦„, dtype: object

In [10]:
df[df.columns[-1]] # ğŸ””ë§¨ ë§ˆì§€ë§‰ ì»¬ëŸ¼ì„ ê°€ì ¸ì˜¬ ìˆ˜ ìˆìŒ.

ì§€ì›ë²ˆí˜¸
1ë²ˆ        Python
2ë²ˆ          Java
3ë²ˆ    Javascript
4ë²ˆ           NaN
5ë²ˆ           NaN
6ë²ˆ             C
7ë²ˆ        PYTHON
8ë²ˆ            C#
Name: SWíŠ¹ê¸°, dtype: object

## Row ì„ íƒ (ìŠ¬ë¼ì´ì‹±)

In [13]:
df['ì˜ì–´'][0:5] # ì˜ì–´ ì»¬ëŸ¼ì—ì„œ 0~4ì¸ë±ìŠ¤ê¹Œì§€ì˜ í–‰ì„ ê°€ì ¸ì˜´

ì§€ì›ë²ˆí˜¸
1ë²ˆ    85
2ë²ˆ    35
3ë²ˆ    75
4ë²ˆ    60
5ë²ˆ    20
Name: ì˜ì–´, dtype: int64

In [15]:
df[['ì´ë¦„','í‚¤']][:3] # ì²˜ìŒ 3ëª…ì˜ ì´ë¦„,í‚¤ ì •ë³´ë¥¼ ê°€ì ¸ì˜´.

       ì´ë¦„    í‚¤
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  197
2ë²ˆ    ì •ëŒ€ë§Œ  184
3ë²ˆ    ì†¡íƒœì„­  168

In [16]:
df[3:] # ì¸ë±ìŠ¤ 3ë¶€í„° ëê¹Œì§€ ê°€ì ¸ì˜´

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60  70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20  10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95      C#