In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# 문제 - 총 16점

### 문제 [1-1] - 8 점
* 범위 0과 50 사이의 소수(prime number)을 출력하는 코드를 작성하세요.

* Hint: for 반복문을 사용해주세요. 

<답안 예시>
1 과 10 사이의 소수: 
2
3
5

In [ ]:
print("0과 50 사이의 소수:")

for i in range(0, 50 + 1):
  for j in range(2, i):
    if (i % j) == 0:
      break
  else:
    print(i)

### 문제 [1-2] - 8점
* 범위 0과 50 사이의 소수(prime number)를 list 에 저장하고, 그 중에서 하나 수를 랜덤하게 뽑는 함수 rand_prime() 를 작성하세요. 
* Hint: import random

In [ ]:
import random 

def rand_prime():
  primes = []
  for i in range(0, 50+ 1):
    for j in range(2, i):
      if (i % j) == 0:
        break
    else:
      primes.append(i)
  
  print(random.choice(primes))

rand_prime()

# 문제 2 - 총 24점
* 다음 데이터를 사용하여 각 문항에 답해주세요.



* Hint: https://www.kaggle.com/ranjeetjain3/seaborn-tips-dataset 데이터셋에 대한 설명입니다.

In [ ]:
tips=sns.load_dataset('tips')
tips.head()

### 문제 [2-1] - 6점
* tips 에서 day 열값 분포를 구하세요. 
* 수치형 데이터의 요약 (평균, 사분위 수 등)을 구하시오.

In [ ]:
tips['day'].value_counts()
tips.describe()

### 문제 [2-2] - 6점
* sex 별 tip 의 최댓값을 구하세요. 
* Hint: loc[ ]

In [ ]:
male = tips['sex']=='Male'
female = tips['sex']=='Female'
max_male = tips['tip'].loc[male].max()
max_female = tips['tip'].loc[female].max()
print(max_male)
print(max_female)

### 문제 [2-3] - 6점
* total_bill 과 tip 의 상관계수를 구하시오. 
* tip 을 total_bill 로 나눈 값을 float 타입으로 저장하여 tip_percent 칼럼에 저장하시오.

In [4]:
tips['total_bill'].corr(tips['tip'])
tips['tip_percent'] = tips['tip']/tips['total_bill'].astype('float')

### 문제 [2-4] - 6점
* 목요일에는 Tip 을 1 달러 더 받았지만, 데이터 작성에 문제가 있었다고 합니다. 올바른 목요일 Tip 값을 thur_new 에 저장하세요. 
* Hint: Apply, Lambda 사용

In [ ]:
thur = tips['day'] == 'Thur'
thur_new = tips['tip'].loc[thur].apply(lambda x: x+1)

# 문제 3 - 총 45점

In [ ]:
#코랩 사용자는 아래의 코드로 파일을 불러와주세요.
#해당되지 않는다면 아래 코드는 삭제해주세요.
from google.colab import files
uploaded = files.upload()

### 문제 [3-1] - 5점
* mpg.csv를 불러와 mpg에 저장한 후, 위에서부터 5행을 출력하세요.

In [ ]:
mpg=pd.read_csv('mpg.csv')
mpg.head()

### 문제 [3-2] - 5점
* fl 데이터 빈도수를 알파벳 순서대로(ex. a->b->c)  출력하세요.

In [ ]:
mpg['fl'].value_counts().sort_index()

### 문제 [3-3] - 5점
* mpg1이라는 새로운 데이터 프레임을 생성 후, mpg1 데이터를 출력하세요. 
* 이 데이터 프레임은 fl, price_fl이라는 두 열을 가지고 있습니다.
-------------------------------------------------------------------------
* fl값이 c이면, price_fl 값은 2.66 
* fl값이 d이면, price_fl 값은 2.23 
* fl값이 e이면, price_fl 값은 2.11 
* fl값이 p이면, price_fl 값은 2.89 
* fl값이 r이면, price_fl 값은 2.49

In [ ]:
mpg1 = pd.DataFrame({'fl': ['c', 'd', 'e','p','r'],
                    'price_fl': [2.66,2.23,2.11,2.89,2.49]})
mpg1

### 문제 [3-4] - 5점
* mpg 데이터와 mpg1 데이터를 fl열을 기준으로 병합한 후, mpg2에 저장하고 mpg2를 출력하세요.

In [ ]:
mpg2=pd.merge(mpg, mpg1, on='fl')
mpg2

### 문제 [3-5] - 5점
* mpg2 데이터를 사용해주세요.
* group 제조사(manufacturer)로 그룹화 한 후, 다시 클래스(class)별로 그룹화하여 평균을 구해주세요.
* Hint: groupby()

In [ ]:
mpg2.groupby(['manufacturer','class']).mean()

### 문제 [3-6] - 5점
* mpg2 데이터를 manufacturer 별로 그룹화하여, displ, price_fl의 count, max, min, mean 값을 구해주세요.

In [ ]:
mpg2.groupby('manufacturer')[['displ','price_fl']].agg(['count', 'max', 'min', 'mean'])

### 문제 [3-7] - 15점
* mpg2 데이터를 사용해주세요.
* hwy(연비)가 가장 높은 상위 5개의 manufacturer을 추출하여, top5의 인덱스만 추출해, top5_manufacturer에 저장해주세요.
* top5_manufacturer을 출력해주세요.
-----------------------
* top5_manufacturer을 출력 결과)  
Index(['audi', 'chevrolet', 'dodge', 'ford', 'honda'], dtype='object', name='manufacturer')

In [ ]:
top5_manufacturer=mpg2.groupby(['manufacturer']).sum().sort_values(by=['hwy'],ascending=[False]).index[:5]
top5_manufacturer

# 문제 4 - 총 15점

In [ ]:
import datetime

* 2022년 1월 ~ 12월의 각 월별 마지막 날짜 포함한 시계열 데이터프레임 happy2022을 만들어주세요.
* happy2022 데이터프레임의 열 이름은 date로 지정해주세요.
* happy2022를 출력해주세요
* Hint: period, freq 사용

In [ ]:
happy2022 = pd.DataFrame({'date': pd.date_range('2022-01-31', periods=12, freq='M')})
happy2022

# END
# 수고하셨습니다. 좋은 결과 있기를 바라며
# 코딩 테스트는 절대적 평가기준이 아닙니다.